<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>

<head>
    <title>Rango</title>
</head>

<body>
    <h1>Rango says...</h1>

    <div>
        {% if user.is_authenticated %} 
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <h1>Most Liked Categories</h1>
    <ul>
        {% for category in categories %} <li>
            
            <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Most Viewed Pages</h1>
    <ul>
        {% for page in pages %} <li>
            
            <a href="/rango/page/{{ page.slug }}/">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <div>
        <a href="/about/">About</a><br />
        <ahref="/rango/add_category/">AddaNewCategory</a><br/>
        <img src="{% static 'images/L1000496.jpg' %}" alt="Picture of a car" />
    </div>

</body>

</html>